[Unit]
Description=llm server service

[Service]
Type=simple
# assumes you've put llama-start-*.sh in $HOME/service
# replace with your own shell script name
ExecStart=%h/service/llama-start-qwen3.5-35moe.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
